body{
     background-image: linear-gradient(to top,  lightgreen, lightblue );
    font-size:24px;
    margin:20px;
    min-height: 100%;
    height: 100%;
    text-align: justify;
}
#logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.curiosidade{
    background-image: url(imgs/favo-de-mel.png);
    border: 5px solid #FDCD4A;
  border-radius: 5px;
    padding: 10px;
    	
}
.icone-curiosidade{
   float: left; 
    margin-right: 7px;
}
.casta-de-abelha{
     border: 5px solid #FDCD4A;
  border-radius: 50%;
}
.esquerda {
  float: left;
  margin-right: 10px;
}
.direita {
  float: right;
  margin-right: 10px;
}
#voltar{
    text-align: right;
}